.nav-link {
    font-family: 'Fjalla One', sans-serif;
    font-size: small;
}

.dropdown-toggle {
    text-align: right !important;
    background-color: transparent !important;
    border-color: grey !important;
    color: grey !important;
}
